.Title {
  font-family: Verdana;
  font-size: 80px;
}

h4 {
  font-family: Verdana;
}

h6,
button {
  font-family: "Gochi Hand", cursive;
  font-size: 24px;
}

body {
  background-color: #78c2ad;
  font-size: 150%;
  text-align: center;
  border: 10px solid beige;
  height: 830px;
  width: 800px;
  margin: 0 auto;
}

input {
  font-size: 100%;
}

div.container-fluid {
  max-width: 400px;
}
main {
  color: beige;
}
